.element_wrapper{
    
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    position: absolute;
    width: 90%;
    height: 90%;

}


.banner-h2_editor{
    
    margin-bottom: 20px;
    color: #ffffff;
    text-align: left;
    font-size: 100px;
    text-shadow: 0 0 5px #333333;

}

.banner-p_editor{
    color: #ffffff;
    font-size: 18px;
    text-shadow: 0 0 5px #333333;

}

.form-element_container{

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: fit-content;
    margin: 20px;

}

.banner-input_editor{
    height: 50px;
    width: 200px;
    border: 1px solid #cfcfcf;
    border-radius: 5px;
    outline: none;
    padding: 5px;
    background-color: #FFFFFF;
}