#regis_form{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;

}

#form_wrapper{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 80%;
    height: 80%;
    background-color: #FFFFFF;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 5px 0 #555555;

}

#I-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 90%;
}

#age{
    width: 250px;
    text-align: center;
}

#form_head{
    color: #333333;
}

#form_sub_head{
    color: #555555;
}

#submit{

    width: 200px;
    height: 50px;
    cursor: pointer;
    background-color: #13a75f;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;

}

